# example configuration file, copy it to htsp_rest_config.py and change to to match your environment.
config = {
    'port': 9080,
    'htsp.address': ['localhost', 9982],
    'htsp.username': '',
    'htsp.password': '',
#    'logging.configuration': 'config/logging-file.conf',
    'logging.configuration': 'config/logging-console.conf',
    'logging.console': True,
    'debug': False
}
